<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include guids.wxi ?>
  <?include defines.wxi ?>

  <Fragment>
    <DirectoryRef Id="INSTALLDIR">

      <Directory Id="IconsDirectory" Name="icons" FileSource="$(var.SourceDir)">

        <Component Id='Icons' Guid='$(var.Icons.guid)' Win64='$(var.IsX64)'>
          <File Name="branch.ico" KeyPath="yes" />
          <File Name="detect_rename.ico" />
          <File Name="fileadd.ico" />
          <File Name="filedelete.ico" />
          <File Name="filemodify.ico" />
          <File Name="general.ico" />
          <File Name="hg.ico" />
          <File Name="hgB.ico" />
          <File Name="ignore.ico" />
          <File Name="menuabout.ico" />
          <File Name="menuadd.ico" />
          <File Name="menublame.ico" />
          <File Name="menucheckout.ico" />
          <File Name="menuclone.ico" />
          <File Name="menucommit.ico" />
          <File Name="menucreaterepos.ico" />
          <File Name="menudelete.ico" />
          <File Name="menudiff.ico" />
          <File Name="menuhelp.ico" />
          <File Name="menuimport.ico" />
          <File Name="menulog.ico" />
          <File Name="menumerge.ico" />
          <File Name="menupatch.ico" />
          <File Name="menurelocate.ico" />
          <File Name="menurepobrowse.ico" />
          <File Name="menurevert.ico" />
          <File Name="menurevisiongraph.ico" />
          <File Name="menusettings.ico" />
          <File Name="menushowchanged.ico" />
          <File Name="menusynch.ico" />
          <File Name="proxy.ico" />
          <File Name="README.txt" />
          <File Name="refresh_overlays.ico" />
          <File Name="settings_repo.ico" />
          <File Name="settings_user.ico" />
          <File Name="shelve.ico" />
          <File Name="thg_logo.ico" />
          <File Name="thg_logo_92x50.png" />
          <File Name="TortoiseMerge.ico" />
        </Component>
      </Directory>

    </DirectoryRef>
  </Fragment>

</Wix>
