<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include guids.wxi ?>
  <?include defines.wxi ?>

  <?define thg_po_langs =
    cs;da;de;en_AU;en_GB;es;et;fa;fr;he;hr;hu;it;ja;ko;nb;nl;nn;oc;pl;pt;pt_BR;ru;sr;sv;tr;uk;zh_CN;zh_TW
  ?>
  <!-- lang 'ca' is used for key path -->

  <Fragment>
    <DirectoryRef Id="i18ndir" FileSource="$(var.SourceDir)">
      <Directory Id="thgI18nFolder" Name="tortoisehg">
        <Component Id="thgI18nFolder" Guid="$(var.thgI18nFolder.guid)" Win64='$(var.IsX64)'>
          <File Id="thg.ca.po" Name="ca.po" KeyPath="yes" />
          <?foreach LANG in $(var.thg_po_langs) ?>
            <File Id="thg.$(var.LANG).po" Name="$(var.LANG).po" />
          <?endforeach?>
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>

</Wix>
