<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include thg-guids.wxi ?>

  <?define thgcmenulangs = 
    cs;da;de;en_GB;en_US;es;fa;fr;he;hr;it;ja;ko;nl;nn;pl;pt;pt_BR;ru;tr;uk;zh_CN;zh_TW
  ?>
  <!-- lang 'ca' is used for key path -->

  <Fragment>
    <DirectoryRef Id="i18ndir">
      <Directory Id="cmenuI18n" Name="cmenu">
        <Component Id="cmenuI18n" Guid="$(var.cmenuI18n.guid)">
          <File Source="$(var.SourceDir)\thg-cmenu-ca.reg" KeyPath="yes"/>
          <?foreach LANG in $(var.thgcmenulangs) ?>
            <File Source="$(var.SourceDir)\thg-cmenu-$(var.LANG).reg" />
          <?endforeach?>
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>

</Wix>
