<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLDIR">
            <Directory Id="docdir" Name="doc" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="docFolder">
            <Component Id="doc.hg.1.html" Directory="docdir"
                       Guid="{6289D803-14D9-4AF8-AE67-4DB12D1EA5A6}"
            >
                <File Source="$(var.SourceDir)\hg.1.html" KeyPath="yes">
                    <Shortcut Id="hg1StartMenu" Directory="ProgramMenuDir"
                              Name="Mercurial Command Reference"
                              Icon="hgIcon.ico" IconIndex="0" Advertise="yes" />
                </File>
            </Component>
            <Component Id="doc.hgignore.5.html" Directory="docdir"
                       Guid="{4E80FFF0-C28A-460F-ABC4-85BC25422B80}"
            >
                <File Source="$(var.SourceDir)\hgignore.5.html" KeyPath="yes">
                    <Shortcut Id="hgignore5StartMenu" Directory="ProgramMenuDir"
                              Name="Mercurial Ignore Files"
                              Icon="hgIcon.ico" IconIndex="0" Advertise="yes" />
                </File>
            </Component>
            <Component Id="doc.hgrc.5.html" Directory="docdir" 
                       Guid="{F392839B-CEB6-462E-8F23-A85D48F99BD3}"
            >
                <File Source="$(var.SourceDir)\hgrc.5.html" KeyPath="yes">
                    <Shortcut Id="hgrc5StartMenu" Directory="ProgramMenuDir"
                              Name="Mercurial Configuration Files"
                              Icon="hgIcon.ico" IconIndex="0" Advertise="yes" />
                </File>
            </Component>
            <Component Id="doc.style.css" Directory="docdir"
                       Guid="{5C276050-DDDD-49FB-86ED-C636FD629242}"
            >
                <File Source="$(var.SourceDir)\style.css" KeyPath="yes" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
