<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

    <?include guids.wxi ?>

    <Fragment>
        <DirectoryRef Id="INSTALLDIR">
            <Directory Id="helpdir" Name="help">
                <Component Id="helpFolder" Guid="$(var.helpFolder.guid)">
                    <File Source="$(var.SourceDir)\config.txt"  KeyPath="yes" />
                    <File Source="$(var.SourceDir)\dates.txt" />
                    <File Source="$(var.SourceDir)\diffs.txt" />
                    <File Source="$(var.SourceDir)\environment.txt" />
                    <File Source="$(var.SourceDir)\extensions.txt" />
                    <File Source="$(var.SourceDir)\multirevs.txt" />
                    <File Source="$(var.SourceDir)\patterns.txt" />
                    <File Source="$(var.SourceDir)\revisions.txt" />
                    <File Source="$(var.SourceDir)\templates.txt" />
                    <File Source="$(var.SourceDir)\urls.txt" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
</Wix>
