<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

    <?define thg_po_langs = cs;da;de;en_GB;es;fa;fr;he;hr;it;ja;ko;nl;nn;oc;pl;pt;pt_BR;ru;tr;uk;zh_CN;zh_TW ?>
    <!-- lang 'ca' is used for key path -->

    <Fragment>
        <DirectoryRef Id="dirE238460D44340499CA44F8E5739FEA52">
            <Directory Id="thgI18nFolder" Name="tortoisehg">
                <Component Id="thgI18nFolder" Guid="{69E6E182-BCD2-4b03-A941-7B9A054DF7AF}">
                    <File Source="$(var.SourceDir)\tortoisehg\ca.po" KeyPath="yes" />
                    <?foreach LANG in $(var.thg_po_langs) ?>
                        <File Source="$(var.SourceDir)\tortoisehg\$(var.LANG).po" />
                    <?endforeach?>
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
</Wix>
