<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="dirE238460D44340499CA44F8E5739FEA52">
            <Directory Id="thgI18nFolder" Name="tortoisehg">
                <Component Id="thgI18nFolder" Guid="{69E6E182-BCD2-4b03-A941-7B9A054DF7AF}">
                    <File Source="$(var.SourceDir)\tortoisehg\ca.po" KeyPath="yes" />
                    <File Source="$(var.SourceDir)\tortoisehg\cs.po" />
                    <File Source="$(var.SourceDir)\tortoisehg\da.po" />
                    <File Source="$(var.SourceDir)\tortoisehg\de.po" />
                    <File Source="$(var.SourceDir)\tortoisehg\en_GB.po" />
                    <File Source="$(var.SourceDir)\tortoisehg\es.po" />
                    <File Source="$(var.SourceDir)\tortoisehg\fa.po" />
                    <File Source="$(var.SourceDir)\tortoisehg\fr.po" />
                    <File Source="$(var.SourceDir)\tortoisehg\he.po" />
                    <File Source="$(var.SourceDir)\tortoisehg\hr.po" />
                    <File Source="$(var.SourceDir)\tortoisehg\it.po" />
                    <File Source="$(var.SourceDir)\tortoisehg\ja.po" />
                    <File Source="$(var.SourceDir)\tortoisehg\ko.po" />
                    <File Source="$(var.SourceDir)\tortoisehg\nl.po" />
                    <File Source="$(var.SourceDir)\tortoisehg\nn.po" />
                    <File Source="$(var.SourceDir)\tortoisehg\pl.po" />
                    <File Source="$(var.SourceDir)\tortoisehg\pt.po" />
                    <File Source="$(var.SourceDir)\tortoisehg\pt_BR.po" />
                    <File Source="$(var.SourceDir)\tortoisehg\ru.po" />
                    <File Source="$(var.SourceDir)\tortoisehg\tr.po" />
                    <File Source="$(var.SourceDir)\tortoisehg\uk.po" />
                    <File Source="$(var.SourceDir)\tortoisehg\zh_CN.po" />
                    <File Source="$(var.SourceDir)\tortoisehg\zh_TW.po" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
</Wix>
