<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

  <!-- Copyright 2010 Steve Borho <steve@borho.org>

  This software may be used and distributed according to the terms of the
  GNU General Public License version 2 or any later version. -->

  <?include guids.wxi ?>

  <?if $(var.Platform) = "x64" ?>
    <?define IsX64 = yes ?>
  <?else?>
    <?define IsX64 = no ?>
  <?endif?>

  <?define ProgramRegKey = Software\TortoiseHg ?>

  <?include TortoiseOverlaysDefines.wxi ?>

  <!-- shell extension CLSID's -->
  <?include ../../win32/shellext/ThgCLSIDs.wxi ?>

  <Product Name='TortoiseHg $(var.Version) ($(var.Platform))'
           Id='$(var.ProductId)'
           Version='$(var.Version)'
           UpgradeCode='$(var.ProductUpgradeCode)'
           Language='1033' Codepage='1252'
           Manufacturer='Steve Borho and others'>

    <Package Id='*' Keywords='Installer'
             Description="Windows shell extension for Mercurial DVCS (version $(var.Version))"
             Manufacturer='Steve Borho and others'
             InstallerVersion='300' Languages='1033' Compressed='yes'
             SummaryCodepage='1252' Platform='$(var.Platform)'
             Comments='$(var.Comments)'
    />

    <Media Id='1' Cabinet='tortoisehg.cab' EmbedCab='yes' CompressionLevel='high'
           DiskPrompt='CD-ROM #1'
    />
    <Property Id='DiskPrompt' Value="TortoiseHg $(var.Version) Installation [1]" />

    <Property Id='INSTALLDIR'>
      <ComponentSearch Id='SearchForMainExecutableComponent' 
                       Guid='$(var.ComponentMainExecutableGUID)'
      />
    </Property> 
    <Property Id='INNOSETUPINSTALL'>
        <RegistrySearch
          Id='SearchForOldInnoSetupTortoiseHg' Win64='$(var.IsX64)'
          Root='HKLM'
          Key='SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\TortoiseHg_is1'
          Type='directory'
          Name='InstallLocation'
        />
    </Property>
    <?if $(var.Platform) = "x86" ?>
      <Condition Message =
        "The x86 installer may not be used on a x64 platform"
          >NOT VersionNT64
      </Condition>
    <?endif?>
    <Condition Message =
      "Backup your user Mercurial.ini file, then uninstall [INNOSETUPINSTALL] before installing this package."
         >Installed OR NOT INNOSETUPINSTALL
    </Condition>
    <Condition Message=
      'TortoiseHg requires Windows XP or higher'
        >VersionNT >= 501
    </Condition>

    <!--Property Id='ARPCOMMENTS'>any comments</Property-->
    <Property Id='ARPCONTACT'>tortoisehg-discuss@lists.sourceforge.net</Property>
    <Property Id='ARPHELPLINK'>http://tortoisehg.org/</Property>
    <Property Id='ARPURLINFOABOUT'>http://tortoisehg.org/about.html</Property>
    <Property Id='ARPURLUPDATEINFO'>http://tortoisehg.org/</Property>
    <Property Id='ARPHELPTELEPHONE'>http://mercurial.selenic.com/wiki/Support</Property>
    <Property Id='ARPPRODUCTICON'>thgIcon.ico</Property>

    <Property Id='INSTALLEDTORTOISEHGPRODUCTS' Secure='yes'></Property>
    <Property Id='REINSTALLMODE'>amus</Property>

    <!--Auto-accept the license page-->
    <Property Id='LicenseAccepted'>1</Property>

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='INSTALLDIR' Name='TortoiseHg'>
          <Component Id='MainExecutable' Guid='$(var.ComponentMainExecutableGUID)'>
            <File Id='thgEXE' Name='thg.exe' KeyPath='yes'
                  Source='dist\thg.exe'
            />
            <File Id='hgtkEXE' Name='hgtk.exe'
                  Source='dist\hgtk.exe'
            />
            <File Id='hgEXE' Name='hg.exe'
                  Source='dist\hg.exe'
            />
            <File Id='libraryZIP' Name='library.zip'
                  Source='dist\library.zip'
            />
            <File Id='pythonDLL' Name='python26.dll'
                  Source='dist\python26.dll'
            />
            <Environment Id="Environment" Name="PATH" Part="last" System="yes"
                         Permanent="no" Value="[INSTALLDIR]" Action="set"
            />
          </Component>
          <Component Id='ExtensionVersions' Guid='$(var.ExtensionVersions.guid)'>
            <File Id='ExtensionVersions' Name='extension-versions.txt'
                  KeyPath='yes'
                  Source='..\extension-versions.txt'
            />
          </Component>
          <Component Id='OverlayServerEXE' Guid='$(var.OverlayServerEXE.guid)'>
            <File Id='OverlayServerEXE' Name='TortoiseHgOverlayServer.exe'
                  KeyPath='yes'
                  Source='dist\TortoiseHgOverlayServer.exe' >
              <Shortcut Id="OverlayServerEXEshortcut" Directory="ProgramMenuDir"
                        Name="TortoiseHg Overlay Icon Server"
                        Icon="thgIcon.ico" IconIndex="0" Advertise="yes"
              />
            </File>
            <RegistryValue
              Name='TortoiseHgOverlayIconServer' 
              Root='HKLM' Key='Software\Microsoft\Windows\CurrentVersion\Run'
              Type='string' Value='[INSTALLDIR]TortoiseHgOverlayServer.exe'
            />
          </Component>
          <Component Id='thgshellx86dll' Guid='$(var.thgshellx86dll.guid)'>
            <File Id='thgshellx86dll' Name='ThgShellx86.dll' KeyPath='yes'
                  Source='win32\ThgShellx86.dll'
            />
            <RegistryValue
              Root='HKLM' Key='$(var.ProgramRegKey)'
              Type='string' Value='[INSTALLDIR]'
            />
            <RegistryValue
              Root='HKCR' Key='CLSID\$(var.CLSID_TortoiseHgCmenu)\InProcServer32'
              Type='string' Value='[INSTALLDIR]ThgShellx86.dll'
            />
            <?foreach CLSID in $(var.OverlayCLSIDList) ?>
              <RegistryValue
                Root='HKCR' Key='CLSID\$(var.CLSID)\InProcServer32'
                Type='string' Value='[INSTALLDIR]ThgShellx86.dll'
              />
            <?endforeach?>
          </Component>         
          <Component Id='CmenuShellRegistrationX86' 
                     Guid='$(var.CmenuShellRegistrationX86.guid)'
          >
            <?include shell-register-cmenu.wxi ?>
          </Component>
          <Component Id='OverlaysShellRegistrationX86' 
                     Guid='$(var.OverlaysShellRegistrationX86.guid)'
          >
            <?include shell-register-overlays.wxi ?>
          </Component>
          <Component Id='COPYING' Guid='$(var.COPYING.guid)'>
            <File Id='COPYING' Name='COPYING.txt'
                  Source='COPYING.txt'
            />
          </Component>
          <Component Id='docdiffEXE' Guid='$(var.docdiffEXE.guid)'>
            <File Id='docdiffEXE' Name='docdiff.exe' KeyPath='yes'
                  Source='dist\docdiff.exe'
            />
          </Component>
          <Component Id='KDiff3EXE' Guid='$(var.KDiff3EXE.guid)'>
            <File Id='KDiff3EXE' Name='kdiff3.exe' KeyPath='yes'
                  Source='..\contrib\kdiff3.exe'
            />
          </Component>
          <Component Id='TortoisePlinkEXE' Guid='$(var.TortoisePlinkEXE.guid)'>
            <File Id='TortoisePlinkEXE' Name='TortoisePlink.exe' KeyPath='yes'
                  Source='..\contrib\TortoisePlink.exe'
            />
          </Component>
          <Component Id='PageantEXE' Guid='$(var.PageantEXE.guid)'>
            <File Id='PageantEXE' Name='Pageant.exe' KeyPath='yes'
                  Source='..\contrib\Pageant.exe'
            />
          </Component>
          <Directory Id='docFolder' Name='doc'>
            <Component Id='chmFile' Guid='$(var.chmFile.guid)'>
              <File Id='chmFile' Name='TortoiseHg.chm' KeyPath='yes'
                    Source='doc\build\chm\TortoiseHg.chm' >
                  <Shortcut Id="chmStartMenu" Directory="ProgramMenuDir"
                            Name="TortoiseHg Manual (CHM)"
                            Icon="thgIcon.ico" IconIndex="0" Advertise="yes"
                  />
              </File>
            </Component>
            <Component Id='pdfFile' Guid='$(var.pdfFile.guid)'>
              <File Id='pdfFile' Name='TortoiseHg.pdf' KeyPath='yes'
                    Source='doc\build\pdf\TortoiseHg.pdf'>
                  <Shortcut Id="pdfStartMenu" Directory="ProgramMenuDir"
                            Name="TortoiseHg Manual (PDF)"
                            Icon="thgIcon.ico" IconIndex="0" Advertise="yes"
                  />
              </File>
            </Component>
            <Component Id='hgbook' Guid='$(var.hgbook.guid)'>
              <File Id='hgbook' Name='hgbook.pdf' KeyPath='yes'
                    Source='..\misc\hgbook.pdf'>
                  <Shortcut Id="hgbookStartMenu" Directory="ProgramMenuDir"
                            Name="Mercurial - The Definitive Guide (PDF)"
                            Icon="hgIcon.ico" IconIndex="0" Advertise="yes"
                  />
              </File>
            </Component>
          </Directory>

          <Directory Id='HGRCD' Name='hgrc.d'>
            <Component Id='mercurial.rc' Guid='$(var.mercurial.rc.guid)'>
              <File Id='mercurial.rc' Name='Mercurial.rc' ReadOnly='yes'
                    Source='contrib\win32\mercurial.rc'
              />
            </Component>
            <Component Id='mergetools.rc' Guid='$(var.mergetools.rc.guid)'>
              <File Id='mergetools.rc' Name='MergeTools.rc' ReadOnly='yes'
                    Source='contrib\mergetools.rc'
              />
            </Component>
            <Component Id="mergepatterns.rc" Guid='$(var.mergepatterns.rc.guid)'>
              <File Id='mergepatterns.rc' Name='MergePatterns.rc'
                    ReadOnly='yes' KeyPath='yes'
                    Source='contrib\win32\mergepatterns.rc'
              />
            </Component>
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="TortoiseHg $(var.Version)">
          <Component Id="ProgramMenuDir" Guid="$(var.ProgramMenuDir.guid)">
            <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
            <RegistryValue
              Root='HKCU' Key='$(var.ProgramRegKey)'
              Type='string' Value='[INSTALLDIR]' KeyPath='yes'
            />
            <Shortcut Id='UrlShortcut' Directory='ProgramMenuDir' Name='TortoiseHg Web Site'
                      Target='[ARPHELPLINK]' Icon="thgIcon.ico" IconIndex='0' />
            <!-- Shortcut Id="UninstallProduct" Name="Uninstall TortoiseHg"
                      Target="[System64Folder]msiexec.exe"
                      Arguments="/x [ProductCode]"
                      Description="Uninstalls TortoiseHg" /-->
          </Component>
        </Directory>
      </Directory>

      <!-- Directory Id="AppDataFolder" Name="AppData">
        <Directory Id="ThgAppData" Name="TortoiseHg">
          <Component Id="ThgAppData" Guid="$(var.ThgAppData.guid)">
            <RemoveFolder Id='ThgAppData' On='uninstall' />
            <RegistryValue Root='HKCU' Key='Software\TortoiseHg\AppData' KeyPath='yes' />
          </Component>
        </Directory>
      </Directory -->

      <Merge Id='VCRedist' DiskId='1' Language='1033'
             SourceFile='$(var.VCRedistSrcDir)\microsoft.vcxx.crt.x86_msm.msm'
      />
      <Merge Id='VCRedistPolicy' DiskId='1' Language='1033'
             SourceFile='$(var.VCRedistSrcDir)\policy.x.xx.microsoft.vcxx.crt.x86_msm.msm'
      />
      <Merge Id='TortoiseOverlaysMergeX86' Language='0' DiskId='1' 
             SourceFile='$(var.TOverlaysSrcDir)\$(var.TOverlaysSrcFilenameX86)'
      />
      <?if $(var.Platform) = "x64" ?>
        <Merge Id='TortoiseOverlaysMergeX64' Language='0' DiskId='1' 
               SourceFile='$(var.TOverlaysSrcDir)\$(var.TOverlaysSrcFilenameX64)'
        />
        <Directory Id="CommonFiles64Folder" Name="Programs64" >
          <Directory Id="Common64" Name="TortoiseHg" >
            <Component Id='thgshellx64dll' Guid='$(var.thgshellx64dll.guid)' Win64='yes'>
              <File Id='thgshellx64dll' Name='ThgShellx64.dll' KeyPath='yes'
                    Source='win32\ThgShellx64.dll'
              />
              <RegistryValue
                  Root='HKLM' Key='$(var.ProgramRegKey)'
                  Type='string' Value='[INSTALLDIR]'
              />
              <RegistryValue
                  Root='HKCR' Key='CLSID\$(var.CLSID_TortoiseHgCmenu)\InProcServer32'
                  Type='string' Value='[Common64]ThgShellx64.dll'
              />
              <?foreach CLSID in $(var.OverlayCLSIDList) ?>
                <RegistryValue
                  Root='HKCR' Key='CLSID\$(var.CLSID)\InProcServer32'
                  Type='string' Value='[Common64]ThgShellx64.dll'
                />
              <?endforeach?>
            </Component>
            <Component Id='CmenuShellRegistrationX64' Win64='yes'
                       Guid='$(var.CmenuShellRegistrationX64.guid)'
            >
              <?include shell-register-cmenu.wxi ?>
            </Component>
            <Component Id='OverlaysShellRegistrationX64' Win64='yes'
                       Guid='$(var.OverlaysShellRegistrationX64.guid)'
            >
              <?include shell-register-overlays.wxi ?>
            </Component>

          </Directory>
        </Directory>
      <?endif?>
    </Directory>

    <Feature Id='Complete' Title='TortoiseHg'
             Display='expand' Level='1' ConfigurableDirectory='INSTALLDIR'
             Description='The complete package' >
      <Feature Id='MainProgram' Title='Program'
               Level='1' Absent='disallow' Display='hidden'
               Description='Command line applications: hg, hgtk' >
        <ComponentRef Id='MainExecutable' />
        <ComponentRef Id='ProgramMenuDir' />
        <ComponentRef Id='COPYING' />
        <ComponentRef Id='mercurial.rc' />
        <ComponentRef Id='mergetools.rc' />
        <ComponentRef Id='ExtensionVersions' />
        <ComponentRef Id='helpFolder' />
        <ComponentGroupRef Id='templatesFolder' />
        <ComponentGroupRef Id='gtkFolder' />
        <ComponentRef Id='Icons' />
        <ComponentRef Id='SvgIcons' />
      </Feature>
      <Feature Id='VCRedist' Title='Visual C++ 9.0 Runtime'
               AllowAdvertise='no' Display='hidden' Level='1'>
        <MergeRef Id='VCRedist'/>
        <MergeRef Id='VCRedistPolicy' />
      </Feature>
      <?if $(var.Platform) = "x64" ?>
          <Feature Id='ShellExtensionX64' Title='Shell Extension x64'
                   Level='1' AllowAdvertise='no'
                   Description='Context menu for 64-bit processes'>
            <ComponentRef Id='cmenuI18n' />
            <ComponentRef Id='thgshellx64dll' />
            <ComponentRef Id='CmenuShellRegistrationX64' />
            <Feature Id='OverlaysX64' Title='Overlay Icons'
                     Level='1' AllowAdvertise='no'
                     Description='Overlay icons for 64-bit processes'
            >
              <ComponentRef Id='OverlayServerEXE' />
              <MergeRef Id='TortoiseOverlaysMergeX64' />
              <ComponentRef Id='OverlaysShellRegistrationX64' />
            </Feature>
          </Feature>
      <?endif?>
      <?if $(var.Platform) = "x64" ?>
          <?define ShellExtensionX86level = 1000 ?>
      <?else?>
          <?define ShellExtensionX86level = 1 ?>
      <?endif?>
      <Feature Id='ShellExtensionX86' Title='Shell Extension x86'
               Level='$(var.ShellExtensionX86level)'
               Absent='allow' AllowAdvertise='no'
               Description='Context menu for 32-bit processes'>
        <ComponentRef Id='cmenuI18n' />
        <ComponentRef Id='thgshellx86dll' />
        <ComponentRef Id='CmenuShellRegistrationX86' />
        <Feature Id='OverlaysX86' Title='Overlay Icons'
                 Level='1' AllowAdvertise='no'
                 Description='Overlay icons for 32-bit processes'
        >
          <ComponentRef Id='OverlayServerEXE' />
          <MergeRef Id='TortoiseOverlaysMergeX86' />
          <ComponentRef Id='OverlaysShellRegistrationX86' />
        </Feature>
      </Feature>
      <Feature Id='Locales' Level='1'
               Title='Translations'
               Description='Mercurial and TortoiseHg Translations'>
        <ComponentGroupRef Id='localeFolder' />
        <ComponentRef Id='i18nFolder' />
        <ComponentGroupRef Id='thgLocaleFolder' />
        <ComponentRef Id='thgI18nFolder' />
      </Feature>
      <Feature Id='ThgDocumentation' Level='1'
               Title='Documentation'
               Description='TortoiseHg Manual and HTML man pages'>
        <Feature Id='CHM' Level='1'
                 Title='CHM' 
                 Description='Compiled HTML'>
          <ComponentRef Id='chmFile' />
        </Feature>
        <Feature Id='PDF' Level='1'
                 Title='PDF' 
                 Description='Portable Document Format'>
          <ComponentRef Id='pdfFile' />
        </Feature>
        <Feature Id='HgDocumentation' Level='1'
                 Title='Man Pages'
                 Description='Mercurial HTML man pages'>
          <ComponentGroupRef Id='docFolder' />
        </Feature>
        <Feature Id='HgBook'  Level='1'
                 Title='Mercurial: The Definitive Guide'
                 Description="Mercurial book by Bryan O'Sullivan">
          <ComponentRef Id='hgbook' />
        </Feature>
      </Feature>
      <Feature Id='KDiff3' Level='1'
               Title='KDiff3'
               Description='Diff/Merge Tool'>
        <ComponentRef Id='KDiff3EXE' />
      </Feature>
      <Feature Id='SSHUtils' Level='1'
               Title='SSH Utils'
               Description='TortoisePlink and Pageant key agent'>
        <ComponentRef Id='TortoisePlinkEXE' />
        <ComponentRef Id='PageantEXE' />
      </Feature>
      <Feature Id='Misc' Level='1'
               Title='Miscellaneous'
               Description='Contributed scripts'>
        <Feature Id='HGContrib' Level='1'
                 Title='Contrib' 
                 Description='Mercurial contrib/'>
          <ComponentGroupRef Id='contribFolder' />
        </Feature>
        <Feature Id='DocDiffFeature' Level='1'
                 Title='Doc Diff Scripts'
                 Description='TortoiseSVN scripts for comparing binary files'>
          <ComponentGroupRef Id='DiffScripts' />
          <ComponentRef Id='docdiffEXE' />
          <ComponentRef Id='mergepatterns.rc' />
        </Feature>
      </Feature>
    </Feature>

    <!-- terminate.dll terminates any running TortoiseHgOverlayServer.exe that supports the
         terminate command over the command pipe. Windows installer sometimes
         fails to shutdown TortoiseHgOverlayServer.exe, which occasionally leads to a crash
         of TortoiseHgOverlayServer.exe during install, which in turn pops up an ugly crash
         report dialog pointing to faulting module PYTHON26.DLL. -->
    <Binary Id='TerminateDLL' SourceFile='win32\terminate-x86.dll' />
    <CustomAction Id='CallTerminate'
      BinaryKey='TerminateDLL' DllEntry='TerminateIconServer'
    />

    <CustomAction Id='StartOverlayServerEXE'
      FileKey='OverlayServerEXE' ExeCommand='' Return='asyncNoWait'
    />

    <InstallExecuteSequence>
        <!-- AppSearch must be done before RemoveExistingProducts and before 
             FindRelatedProducts -->
        <AppSearch Sequence="1"></AppSearch>
        <Custom Action='CallTerminate' Before='InstallValidate'>
            INSTALLEDTORTOISEHGPRODUCTS
        </Custom>
        <RemoveExistingProducts After="InstallValidate">
            INSTALLEDTORTOISEHGPRODUCTS
        </RemoveExistingProducts>
        <?if $(var.Platform) = "x64" ?>
          <Custom Action='StartOverlayServerEXE' After='InstallFinalize'>
            <![CDATA[&OverlaysX86=3 OR &OverlaysX64=3]]>
          </Custom>
        <?else?>
          <Custom Action='StartOverlayServerEXE' After='InstallFinalize'>
            <![CDATA[&OverlaysX86=3]]>
          </Custom>
        <?endif?>
    </InstallExecuteSequence>

    <Upgrade Id='$(var.ProductUpgradeCode)'>
      <UpgradeVersion
        IncludeMinimum='yes' Minimum='0.0.0' IncludeMaximum='no' OnlyDetect='no'
        Property='INSTALLEDTORTOISEHGPRODUCTS'
      />
    </Upgrade>

    <UIRef Id="WixUI_FeatureTree" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <Property Id="WIXUI_EXITDIALOGOPTIONALTEXT" Value = 
      "NOTE: Logoff/logon or restarting explorer may be needed to start the overlay icons"
    />

    <WixVariable Id="WixUILicenseRtf" Value="contrib\wix\COPYING.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="contrib\wix\WixUIBannerBmp.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="contrib\wix\WixUIDialogBmp.bmp" />

    <Icon Id="thgIcon.ico" SourceFile="icons\thg_logo.ico" />
    <Icon Id="hgIcon.ico" SourceFile="icons\hg.ico" />
  </Product>
</Wix>
