; Configuration file for TortoiseHg Windows COM Server
; This is intended to be copied into your system wide configuration
; directory (C:\Python25\Mercurial\hgrc.d) or to be appended to your
; system wide configuration file (C:\Program Files\Mercurial\Mercurial.ini)

[tortoisehg]
;
; Favorite commit tool.  Options 'qct', 'internal'
commit = qct
;
; Favorite history browser.  Options 'hgk', 'hgview'
view = hgk
;
; Visual diff command.  Requires extdiff extension to be configured
vdiff = vdiff
;
; Visual editor launched by TortoiseHg to view files
;editor = notepad++
;
; Color changeset rows in history viewer by author name
authorcolor = False
;
; Specify color for particular person (can be regexp)
; authorcolor.person = color
;
; Number of revisions to parse in a batch.  The graphing algorithms in
; the history viewer operate on batches of changesets at a time.
graphlimit = 500
